@import url(https://fonts.google.com/specimen/Poppins);
:root{
    --desaturated: hsl(0, 100%, 74%);
    --soft: hsl(154, 59%, 51%);
    --daniel:  hsl(249, 10%, 26%);
    --Tobi:  hsl(246, 25%, 77%);
    --david: hsl(248, 32%, 49%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
body{
background-color: var(--desaturated);
}
h1{
    color: white;
    text-align: center;
    font-weight: 400px;
    font-size: 40px;
    margin-top: 50px;
}
p{
    color: white;
    text-align: center;
    margin-top: 50px;
    width: 85%;
    margin-left: 7%;
}
h2{
    text-align: center;
    width: 85%;
    height: 60px;
    background-color: var(--david);
    position: relative;
    top: 50px;
    margin-left: 7%;
    border-radius: 15px;
    color: white;
    padding-top: 15px;
}
.inputed{
    background-color: white;
    width: 85%;
    margin-left: 7%;
    margin-top: 100px;
    border-radius: 15px;
    height: 500px;
}
input{
    width: 83%;
    height: 55px;
    margin-top: 35px;
    margin-left: 7%;
    font-weight: bold;
    padding: 10px;
}
button{
    width: 83%;
    margin-top: 40px;
    height: 50px;
    background-color: var(--soft);
    margin-left: 7%;
    color: white;
    border-radius: 15px;
    border-color: var(--soft);
}
h5{
    width: 75%;
    text-align: center;
    margin-left: 7%;
    font-size: 15px;
    margin-top: 15px;
}
span{
    color: var(--desaturated);
}
@media screen and (min-width:375px) {
    .container{
        display: flex;
    }
    .writeup{
        padding-top: 190px;
    }
}